.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
    overflow: hidden;
    margin: 0 30px;
    --star-size: 30px;
    --star-color: #eee;
    --star-background: #fc0;
}

.Stars::before {
    content: '\2605\2605\2605\2605\2605';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.favorite-switch {
    display: block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
    --star-size: 30px;
    float: right;
    margin-right: -12px;
    cursor: pointer;
    position: relative;
    bottom: 150px;
    right: 15px;
}

.favorite-switch::before {
    content: '\2605';
    background: var(--star-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(253 61 87 / var(--tw-bg-opacity));
}

/* Apply a different style for selected labels */
.selected-label {
    --tw-border-opacity: 1;
    border-color: rgb(249 128 128 / var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color: rgb(224 36 36 / var(--tw-text-opacity));
}

.popup {
    display: none;
}

.popup.active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}