

.Stars {
	--percent: calc(var(--rating) / 5 * 100%);
	display: inline-block;
	font-size: var(--star-size);
	font-family: Times;
	line-height: 1;
	overflow: hidden;
	margin: 0 30px;
	--star-size: 30px;
	--star-color: #eee;
	--star-background: #fc0;
  }

  .Stars::before {
	content: '\2605\2605\2605\2605\2605';
	letter-spacing: 3px;
	background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }

  .favorite-switch {
	display: block;
	font-size: var(--star-size);
	font-family: Times;
	line-height: 1;
	--star-size: 30px;
    float: right;
    margin-right: -12px;
	cursor: pointer;
	position: relative;
    bottom: 150px;
    right: 15px;
  }

  .favorite-switch::before {
	content: '\2605';
	background: var(--star-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;
  }
